
@{
    ViewBag.Title = "StatView";
}

<h2>StatView</h2>

<header>
    <br/>
    <img src="../../Icon.png" style="height: 100pt" align="bottom">
</header>

<article>
    <h2>Stat View</h2>
</article>

<div class="SP_button">
    <table onclick="location.href = 'www.google.dk'">
        <tr>
            <td class="parameter"> Temperature</td>
        </tr>

        <tr>
            <td class="Value">23&#x2103</td>
        </tr>

        <tr>
            <td class="Target">Target: 30&#x2103 </td>
        </tr>
    </table>
</div>


