
body{
    text-align: center;
	background-color:#2e2e2e;
	font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    height: 200pt;
    background-color: black;
    text-align: center;
}
.Logo {
    height: 200px;
    align-items: center;
}

.addpoolblock {
    text-align: left;
}

.addpoolinput [type=text]{
	height: 20pt;
	margin: 6pt;
	background-color: #575757;
	border-radius:5px;
	border-color: #1F1F1F;
	color: #ABABAC;
}

.oneline {
    overflow: hidden;
    white-space: nowrap;
}

.addpoolinput [type=button]{
	height: 20pt;

	background-color: #575757;
	border-radius:5px;
	border-color: #1F1F1F;
	color: #ABABAC;
}

.addpoolinput [type=radio] {
    
}


.addpoolinput [type=text]:focus {
    background-color: #FDA029;
    outline: none;
}

.addpoolinput [type=text]:hover {
	border-color: #FDA029;
}

.addpoolinput [type=button]:focus {
    background-color: #FDA029;
    outline: none;
}

.addpoolinput [type=button]:hover {
	border-color: #FDA029;
}

.input-form input{

    width: 250pt;
	height: 20pt;
	margin: 12pt;
	background-color: #575757;
	border-radius:5px;
	border-color: #1F1F1F;
	color: #ABABAC;

}

.input-form input:focus {
    background-color: #FDA029;
    outline: none;
}

.input-form input:hover {
	border-color: #FDA029;
}

.btn-login:focus {
    background-color: #FDA029;
    outline: none;
}

.btn-login:hover {
	border-color: #FDA029;
}

.btn-login {
	width: 255pt;
	height: 25pt;
    border: 0 none;
    border-radius: 5px;
	background-color:#ABABAC;
	color: #000000; 
}

header h1 {
	color:#FFFFFF;
}

article {
   	color:#FFFFFF;
}


a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FDA029;
}

.SP_button{
	color: red;
	border: 3px solid red;
    border-radius: 5px;
	width: 100%;
	cursor: pointer;
}
	
.SP_button table td.Parameter{
    color: white;
	font-size: 12pt;
	text-align: left;
	border-bottom: 2px solid red;
}

.SP_button table td.Value{
	text-align: center;
	font-size: 36pt;
	
}

.SP_button table td.Target {
	font-size: 8pt;
}

@media screen and (max-width: 700px) {
    header {
        display: none;
    }
    .container {
        height: 100%;
        max-height: 100%
    }

.SP_button table {
    padding-bottom: -20%;
    border-collapse: collapse;
}
	

	
.SP_button table td.Parameter{
    font-size: 10pt;
    border-bottom-width:50px;
    
}

.SP_button table td.Value{
	text-align: center;
	font-size: 24pt;
    height: auto;
    padding: 0;
    margin: 0;
}
    .SP_button table td.Target {
	font-size: 10pt;
}
}

