@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using Smartpool.Application.Model
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AddPoolView";
}
<section id="AddPoolForm">
    <div class="input-form" align="left">
        <input type="text" placeholder="Pool name"/>
    </div>

    <div class="addpoolinput">
        <table>
            <tr>
                <td>
                    <div align="left" padding="10pt">
                        <input type="radio" name="inputType" checked="Checked" id="radio1" onclick="enableTxtBox()" />
                    </div>
                </td>
                <td>
                    <div class="input-form" width="100pt">
                        <input type="text" class="input-form" placeholder="Volume" id="volume"/>
                    </div>
                </td>
                <td>
                   <input type="radio" name="inputType" id="radio2" onclick="enableTxtBox();"/>
                </td>
                <td>
                    <div class="input-form">
                        <input type="text" class="addpoolinput" placeholder="Depth" id="D" />
                    </div>
                </td>
                <td>
                    <div class="input-form">
                        <input type="text" class="addpoolinput" placeholder="Width" id="W"/>
                    </div>
                </td>
                <td>
                    <div class="input-form">
                        <input type="text" class="addpoolinput" placeholder="Lenght" id="L" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>



<script type="text/javascript">
    function enableTxtBox() {
        if (document.getElementsById("radio1").checked) {
            document.getElementsById("volume").disabled = false;
            document.getElementsById("D").disabled = true;
            window.alert(1);
        }
        else if (document.getElementById("radio2").selected) {
            document.getElementsById("volume").disabled = true;
            document.getElementsById("D").disabled = false;
            window.alert(2);
        }

    }
</script>

