
@{
    ViewBag.Title = "EditUserView";
}

<div class="input-form">
    <input type="text" placeholder="Current password"/>
</div>

<div class="input-form">
    <input type="text" placeholder="New password"/>
</div>

<div class="input-form">
    <input type="text" placeholder="Repeat new password" />
</div>