@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smartpool</h1>
    <p class="lead">Smartpool is a tool for you, who wants to monitor the condition of your swimmingpool, to maintain healty conditions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Smartpool</h2>
        <p>
            Check out our product on the website, simply pressing this button.
        </p>
        <p><a class="btn btn-info" href=products>Product &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monitor your pool</h2>
        <p>If you're already a customer you can watch the status of your pool or change setting by logging in. Click on the button below.</p>
        <p><a class="btn btn-info" href=login>Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Question</h2>
        <p>If you have any question, press the buttton below. It will guide you to the contact page where you can find the way that fits you the most</p>
        <p><a class="btn btn-info" ref=Contact>Contact us &raquo;</a></p>
    </div>
</div>